extends layout
block content
		h4 Dodaj plik
				div(class="file-field input-field col s12")
					div(class="btn")
						span File
						input(type="file" id="importFileInput" accept=".csv" onchange="handleFileSelect(event)")
					div(class="file-path-wrapper")
						input(class="file-path validate" type="text")
				div(id="importPreview")
				btn(href="#!" class="modal-action modal-close waves-effect waves-green btn-flat " id="importFileBtn") Dodaj

block scripts
	include assets/js/src/addFiles.js
	include assets/js/src/fileHandler.js
	include assets/js/src/utils.js
