extends layout
block content
	div(class="input-field col s12" )
			select(id= "stationSelect")
				option(value="" disabled selected) Wybierz 
	div(class="input-field col s12" )
			select(id= "sensorSelect")
				option(value="" disabled selected) Wybierz 
	div(class="input-field col s12" )
		input(type= "number" id='sampleValue')
		label(for="sampleValue") Wartość

	div(class="input-field col s12" )
		input(type= "text" id='sampleDate')
		label(for="sampleDate") Czas
	btn(href="#!" class="btn" id="addResultBtn") Dodaj

	

block scripts
	include assets/js/src/utils.js
	include assets/js/src/addResults.js