html
	head
		<script src="views/js/lib/jquery.js"></script>
		<script src="views/js/lib/materialize.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.5/js/jquery.tablesorter.js"></script>
		<link href="http://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.css" rel="stylesheet"/>
		<link href="views/css/materialize.css" rel="stylesheet"/>


	title= title
	body
		div.container
			
				div.form-group
					label(for='username') username
					input.form-control(type='text' id='username' placeholder='username' name='username')
				div.form-group
					label(for='password') Password
					input.form-control(type='password' id='password' placeholder='password' name='password')
				button.btn.btn-primary(id="LogIn") Log in 


script
	include assets/js/src/login.js