extends layout
block content
	div(class="input-field col s12" )
			select(id= "sensorStationSelect")
				option(value="" disabled selected) Wybierz 
				
	
	div(class="result")

block scripts
	include assets/js/src/utils.js
	include assets/js/src/sensors.js